body {
    width: 240px;
}

input {
    display: block;
    width: 240px;
}

td {
    font-family: monospace;
}

.stale table {
    color: gray;
}

.loading {
    display: inline-block;
    margin: auto;
    width: 240px;
    height: 16px;
}
.loading:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: auto 1px;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}